.address_input{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 400px;
  /* justify-self: center; */
  margin: auto;
  display: flex;
}



.row{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.row #country{
  width: 177px;
}