.periodWeatherCard{
  box-shadow: 0px 0px 3px 3px #333333;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  max-height: 50px;
  flex-wrap: wrap;
  overflow-y: hidden;
  transition: 1s ease;
}

.periodWeatherCard .hover{
  transition: 3s ease;
  height: 100%;
  max-height: 1000px;
}

.daytime{
  color: rgba(var(--primary-color));
  text-shadow: 1px 1px 1px rgba(var(--secondary-color));
  background-color: rgba(var(--secondary-color), .5);
  backdrop-filter: blur(6px);
}

.nightTime{
  color: rgba(var(--secondary-color));
  text-shadow: 1px 1px 1px rgba(var(--primary-color));
  background-color: rgba(var(--primary-color), .5);
  backdrop-filter: blur(6px);
}

.periodName{
  font-weight: 500;
  text-transform: capitalize;
  font-weight: 500;
  margin: auto;
  max-width: 75px;
}

.column{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.firstCol{
  flex: 1;
  width: 40px;
}

.secondCol{
  flex: 1;
  width: 40px;
}

.thirdCol{
  flex: 4;
}

.periodRow1{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}