.periodWeatherCard{
  box-shadow: 0px 0px 3px 3px #333333;
  width: 100%;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  height: 50px;
}

.daytime{
  color: rgba(var(--primary-color));
  text-shadow: 1px 1px 1px rgba(var(--secondary-color));
  background-color: rgba(var(--secondary-color), .8);
}

.nightTime{
  color: rgba(var(--secondary-color));
  text-shadow: 1px 1px 1px rgba(var(--primary-color));
  background-color: rgba(var(--primary-color), .8);
}

.periodName{
  font-weight: 500;
  text-transform: capitalize;
  font-weight: 500;
  margin: auto;
  padding: 10px;
  max-width: 75px;
  font-size: 12px;
}

.column{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.firstCol{
  flex: 1;
  width: 40px;
}
.secondCol{
  flex: 1;
  width: 40px;
}
.thirdCol{
  flex: 4;
}